{% extends "StefaniusNationalHolidayBundle::freelayout.html.twig" %}


{% block htmlbody %}

    <div class="container mtb">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
                <h4>Een feest voor iedereen</h4>
                <p>
                    Het hele jaar door zijn er bijzondere dagen. Om in {{ domain_year }} echt goed te kunnen knallen, moet je zorgen dat je erbij bent. Schrijf daarom alle dagen die jij belangrijk vind op je agenda!
                </p>
            </div>

            <div class="col-lg-3">
                <h4>Wat zijn themadagen?</h4>
                <p>
                    Door de jaren heen zijn er verschillende nationale en internationale themadagen in het leven geroepen. Denk bijvoorbeeld aan <strong>dierendag</strong> of <strong>pannenkoekendag</strong>. Dit zijn vaak niet echt feestdagen maar vragen aandacht voor een bepaald probleem of roepen op tot nadenken.
                </p>
            </div>

            <div class="col-lg-3">
                <h4>Wat zijn feestdagen?</h4>
                <p>
                    De dagen die wij rekenen tot feestdagen zijn de dagen die nationaal erkend zijn. Denk daarbij aan kerst of pasen. Een aantal erkende feestdagen zijn ook nog eens goed voor een extra dagje vrij! Alle reden dus om dit goed bij te houden.
                </p>
            </div>

        </div><! --/row -->
    </div><! --/container -->

{% endblock %}