<h2>Themadagen & feestdagen 2017</h2>
<p>
    Het duurt nog even tot het 2017 is. Maar, wellicht ben jij organisator van een groot evenement en wil jij weten wanneer
    het Hemelvaart is zodat jij je lokatie vast kan boeken en je de datum vast in je nieuwsbrief kan vermelden. Het overzicht
    thema en feestdagen 2017 is nog in ontwikkeling, maar alle input is natuurlijk welkom!
</p>