parameters:
    secret:            ThisTokenIsNotSoSecretChangeIt
    app.twitter_name: ~
    app.twitter_url: ~
    app.facebook_url: ~
    app.googleplus_url: ~
    app.domain: ~
    app.analyticsid: ~