<h2>Alles uit 2016 bij elkaar</h2>
<p>
    Het onderstaande overzicht geeft een compleet beeld van alle themadagen en feestdagen uit 2016. Echter, wij zijn ook maar mensen
    en het zou zomaar kunnen dat er een of meer dagen ontbreken. Het kan zijn dat wij deze al zelf aan het aanvullen zijn, maar
    het is ook goed mogelijk dat jij ons een tip geeft op onze Facebookpagina! Wij voegen jouw dag dan graag toe aan ons overzicht!
</p>